<section class="view">
	<div class="container mt-5">
		<h1 class="text-center mb-5">Our Products:</h1>
		<div id="itemListContainer" class="row"></div>
	</div>
	<div class="container my-5">
		<h1 class="mb-5">Add a Product:</h1>
		<form id="addProductForm">
            <div class="row">
                <div class="mb-3">
                    <label for="product-title" class="form-label">Title:</label>
                    <input type="text" class="form-control" id="product-title" name="title"/>
                </div>
                <div class="mb-3">
                    <label for="product-description" class="form-label">Description:</label>
                    <textarea name="description" class="form-control" id="product-description" rows="3"></textarea>
                </div>
                <div class="mb-3 col-6">
                    <label for="product-category" class="form-label">Category:</label>
                    <input type="text" class="form-control" id="product-category" name="category"/>
                </div>
                <div class="mb-3 col-3">
                    <label for="product-price" class="form-label">Price:</label>
                    <input type="number" class="form-control" id="product-price" name="price"/>
                </div>
                <div class="mb-3 col-3">
                    <label for="product-stock" class="form-label">Stock:</label>
                    <input type="number" class="form-control" id="product-stock" name="stock"/>
                </div>
                <div class="mb-3 col-3">
                    <label for="product-code" class="form-label">Code:</label>
                    <input type="text" class="form-control" id="product-code" name="code"/>
                </div>
            </div>
			<button id="btnAdd" type="submit" class="btn btn-primary rounded-pill mt-3">Submit</button>
		</form>
	</div>
</section>